body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

h1, h2, h3 {
    color: #2E2F42;
}

ul {
    list-style-type: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-anhor,
.footer-anhor {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.accent {
    color: #4D5AE5;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    list-style-type: none;
}

.header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.team {
    background-color: #F4F4FD;
}

.section-title {
    text-align: center;
}

.team-card {
    background-color: #FFFFFF;
}

.team-card-text {
    background-color: #FFFFFF;
    text-align: center;
}

.portfolio-card-text {
    background-color: #FFFFFF;
    text-align: left;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-anhor {
    color: #F4F4FD;
}